
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

body {
    margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

:root {
    --blue-color: #34547A;
    --gray-color: #727272;
    --silver-color: #EEEFF1;
}

.text-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.text-h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

.text-h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: white;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.header {
    background-color: var(--silver-color);
    padding-bottom: 165px;
}
.header__menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 49px;
}

.header__menu-flex ul {
    list-style: none;
}

.logo {
    font-family: "Revalia", sans-serif;
    font-weight: 400;
    font-size: 48px;
    padding-left: 15px;
    text-decoration: none;
}

.logo a {
    text-decoration: none;
    color: var(--blue-color);
    display: inline-block;
    transition: transform 1s ease-in-out;
}

.logo a:hover {
    transform: rotate(360deg);
}

.header_menu-items {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-left: 10px;
}

.header__menu-item {
    margin-right: 42px;
}

.header__menu-item a {
    color: #000;
    text-decoration: none;
}

.header__menu-item a:hover {
    color: var(--blue-color);
}

.header_menu-items li:last-child {
    margin-right: 29px;
}

.header__content-flex {
    display: flex;
    justify-content: center;
    margin-top: 140px;

}

.header__img {
    max-width: 357px;
    max-height: 234px;
    margin-right: 130px;
    margin-top: 25px;
    margin-left: 80px;
}

.header__content {
    
}

.header__content h1 {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
}

.header__content p {
    margin-top: 45px;
    color: #727272;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 161%;
    max-width: 540px;
    margin-bottom: 80px;
}

.header__button {
    width: 225px;
    height: 65px;
    background-color: var(--blue-color);
    color: white;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 25px 41px;
    text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .header__menu-flex{
    flex-direction: column;
  }

  .header__content-flex {
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
  }

  .header__img {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .header__content h1 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
    .header_menu-items {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }


}

/* обо мне */
.about-me {
    padding-top: 119px;
    padding-bottom: 93px;
}
.about-me__content {
    max-width: 540px;
    margin: 0 auto;
}
.about-me_h2 {
    color: #000;
    text-align: center;
    margin-bottom: 38px;
}
.about-me_p {
    text-align: center;
    color: var(--gray-color);
}

@media screen and (max-width: 1280px) {
    .about-me {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* numbers */
.numbers {
    background-color: var(--blue-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.numbers__flex {
    display: flex;
    justify-content: left;
    padding-left: 20px;

}
.number__flex-item {
    display: flex;
    margin-right: 49px;
}

.number__flex-item:last-child {
    margin-right: 0;
}

.number__icon {
    margin-right: 20px;
    
}
.numbers__flex-item-inner {
}

.numbers_h3 {
    color: #fff;
}

@media screen and (max-width: 1280px) {
    .numbers__flex {
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        gap: 20px;
        padding: 20px;
    }

    .number__flex-item {
        margin: 0;
    } 
}

@media screen and (max-width: 768px) {


}

/* skills */

.skills {
    padding-top: 120px;
    padding-bottom: 101px;
}
.skills__flex {
    display: flex;
    justify-content: space-between;
}

.skill__box {
    max-width: 445px;
    padding-top: 83px;
}
.skills__list {
    margin-bottom: 28px;
}

.skills_h2 {
    color: #000;
    margin-bottom: 40px;
}

.skills_p {
    margin-bottom: 12px;
}
.progress-bar {
    display: flex;
}


.progress-bar-completed {
    width: 350px;
    height: 4px;
    background-color: var(--blue-color);
}
.progress-bar-remaining {
    width: 95px;
    height: 4px;
    background-color: #C4C4C4;
}

.skills_photo {
    max-width: 555px;
    max-height: 450px;
    margin-top: -20px;
}

@media screen and (max-width: 1280px) {
    .progress-bar-completed {
        width: 100%;
    }

    .progress-bar-remaining {
        width: 78%;
    }

    .skills {
        padding-top: 0px;
        padding-bottom: 50px;
    }

    .skill__box {
        padding: 0;
    }

    .skills__flex {
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
    }

    .skills_photo {
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;

}

}


/* video */

.video {
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--silver-color);
}
.video__content {
    text-align: center;
}
.video__title {
    max-width: 540px;
    margin: 0 auto;
}
.video_h2 {
}
.video_p {
    margin-top: 39px;
    color: var(--gray-color);
}
.video-frame {
    margin-top: 50px;

}

.video-frame iframe {
    width: 1110px;
    height: 600px;
}

@media screen and (max-width: 1280px) {
  .video-frame iframe {
    width: 100%;
    height: 56.25vw;
    max-width: 100%;
    max-height: none;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .video-frame iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  
}

/* projects */
.projects {
    margin-top: 24px;
}
.project__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
}
.project__gallery-card {
    position: relative;
}


.project__gallery-img {
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-color);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay i {
    font-size: 100px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

  .project__gallery-card:hover .overlay {
    opacity: 0.5;
  }

  .project__gallery-card:hover .overlay i {
    opacity: 1;
}

@media screen and (max-width: 1280px) {
  .project__gallery{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Клиенты */
.clients {
    margin-top: 70px;
    margin-bottom: 113px;
}
.clients__flex {
    display: flex;
    justify-content: space-around;
}
.clients__img {
    max-width: 225;
    max-height: auto;
}

@media screen and (max-width: 1280px) {
  .clients__flex{
    flex-wrap: wrap;
  }
}

/* Форма обратной связи */
.form {
    padding-top: 100px;
    padding-bottom: 90px;
    background-color: var(--silver-color);
}
.form__content {
    text-align: center;
}
.form__content-text {
    text-align: center;
}

.form_h2 {
    margin-bottom: 38px;
}

.form_p {
    color: var(--gray-color);
    max-width: 540px;
    margin: 0 auto 61px;
}
.form__content-items {

}
.form__content-items-flex {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.form__content-item {
    width: 255px;
    height: 50px;
    padding-left: 20px;
    border: none;
}
.form__area {
    padding-left: 20px;
    padding-top: 17px;
    margin-top: 20px;
    width: 540px;
    border: none;
}

.form__btn {
    margin-top: 50px;
    width: 190px;
    height: 50px;
    background-color: var(--blue-color);
    border: none;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .form__content-items-flex{
        align-items: center;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
    }

    .form__content-item {
        max-width: 255px;
    }

    .form__area {
        max-width: 255px;
    }
}


/* footer */
.footer {
    background-color: var(--blue-color);
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer__items-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__item {
    color: #fff;
}

.footer_h3 {
    padding-left: 20px;
}
.footer_p {
    padding-top: 12px;
    padding-left: 20px;
    font-size: 13px;
}

.footer__btn {
    padding-right: 10px;
    font-size: 40px;
    color: #fff;
}


@media screen and (max-width: 768px) {
    .footer__items-flex {
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 30px;
        justify-content: center;
    }

    .footer__btn {
        justify-content: center;
    }
}
